/*xl*/
@media screen and (min-width:1200px){
    .header{
        margin: auto;
        text-align: center;
        font-family: "yekan";
        margin-top: 2vh;
    }
    .header h4{
        color: #ccae62;
    }
    .wrp-title-header{
        text-align: center;
        font-family: "yekan";
        margin-top: 5vh;
    }
    .wrp-title-header h1{
        font-size: 29px;
        color: #303030;

    }
    .wrp-btns{
        display: flex;
        float: left;
        margin-top: 13vh;

    }
    .reset-btn{
        width: 55px;
        height: 55px;
        background-color: #ccae62;
        cursor: pointer;
        border-radius: 50px;
        margin-left: 1vw;
        margin-top: 2vh;
        text-align: center;
        padding: 2px 0;
        

    }
    .reset-icon{
        width: 50px;
    height: 50px;
    
    }
    .add-btn{
        width: 90px;
        height: 90px;
background: #ffffff;
box-shadow:  5px 5px 24px #f0f0f0,
             -5px -5px 24px #ffffff;
             border-radius: 50px;
             text-align: center;
             color: #ccae62;
             font-size: 54px;
             cursor: pointer;
             margin-left: 1vw;
             -webkit-user-select: none; /* Safari */
             -ms-user-select: none; /* IE 10 and IE 11 */
             user-select: none; /* Standard syntax */
    }
    .sub-btn{
        width: 90px;
        height: 90px;
background: #ffffff;
box-shadow:  5px 5px 24px #f0f0f0,
             -5px -5px 24px #ffffff;
             border-radius: 50px;
             text-align: center;
             color: #ccae62;
             font-size: 54px;
             cursor: pointer;
             margin-left: 2vw;
             -webkit-user-select: none; /* Safari */
             -ms-user-select: none; /* IE 10 and IE 11 */
             user-select: none; /* Standard syntax */
    }
    .wrp-counter{
        width: 250px;
        height: 250px;
        background: #ffffff;
box-shadow:  5px 5px 24px #f0f0f0,
             -5px -5px 24px #ffffff;
             color: #303030;
             font-family: "yekan";
             padding-top: 70px;
             margin-right: 2vw;
             margin-top: 5vh;
    }
    .wrp-counter h1{
        font-size: 100px;
        text-align: center;

    }
    .wrp-parent-title{
        margin-top: 3vh;
    }
    .wrp-title-right{
        width: 400px;
        height: 70px;
        background: #ffffff;
box-shadow:  5px 5px 24px #f0f0f0,
             -5px -5px 24px #ffffff;
             float: left;
             margin-top: 3vh;
             cursor: pointer;

    }
    .wrp-title-left{
        width: 400px;
        height: 70px;
        background: #ffffff;
box-shadow:  5px 5px 24px #f0f0f0,
             -5px -5px 24px #ffffff;
             float: right;
             margin-top: 3vh;
             cursor: pointer;

    }
    .wrp-title-right p{
        font-family: "yekan";
        text-align: center;
        font-size: 22px;
        margin-top: 18px;
    }
    .wrp-title-left p{
        font-family: "yekan";
        text-align: center;
        font-size: 22px;
        margin-top: 18px;
    }
    .wrp-title-center{
        width: 400px;
        height: 70px;
        background: #ffffff;
box-shadow:  5px 5px 24px #f0f0f0,
             -5px -5px 24px #ffffff;
             margin: auto;
             margin-top: 3vh;
             padding-top: 18px;
             cursor: pointer;
    }
    .wrp-title-center p{
        font-family: "yekan";
        text-align: center;
        font-size: 22px;
    }
    @keyframes reset {
        to{
            transform: rotate(360deg);
        }
    }
    .reset-icon:hover{
        animation: reset 1s 0ms ease-in-out;
    }
    @keyframes add-sub {
        to{
            
background: #ffffff;
box-shadow:  5px 5px 11px #cccccc,
             -5px -5px 11px #ffffff;
        }
    }
    .add-btn:active , .sub-btn:active{
        animation: add-sub 0.1s 0ms ;
    }
    .wrp-title-right:hover , .wrp-title-left:hover ,.wrp-title-center:hover{
        color: #fff;
        background-color: #ccae62;
    }
    

}
@font-face {
    font-family: yekan;
    src: url("../font/IRANYekanWebRegular.woff");
}